.App{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #228be6;
  padding-top: 10px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 60px;
  width: 100%;
}

.App .subtitle {
  margin-top: 10px;
  background-color: #228be6;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: large;
  font-family:cursive;
}

.App .NotificationArea {
  background-color: #AD8152;
  text-align: center;
  width: inherit;
  min-height: 10px;
}

.App .ButtonSection{
  margin-top: 10px;
  display: flex;
  justify-content: space-between
}

.App .ButtonSection button{
  border-radius: 10px;
  background-color: #1864ab;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}